table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

h1{
    text-align: center;
}
tr ,th{
    border: solid 1px black;
}

td {
    border: 1px solid black;
   	color: red;
    font-style: normal;
    font-size: larger;
    text-align: center;
}