<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="static/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 年月日的日历挂件 -->

    <link rel="stylesheet" type="text/css" href="static/css/kf_operation/form.css"/>
    <script src="static/js/jquery.js"></script>


    <script type="text/javascript" src="static/js/dateOperarion.js"></script>

    <script type="text/javascript" src="static/js/kf_operation/forbidId.js"></script>

    <link rel="stylesheet" type="text/css" href="static/css/kf_operation/forbidId.css"/>

    <script src="static/js/baseValue.js"></script>
    <script src="static/js/cookie_util.js"></script>

</head>
<body id="parentBody">


<div id="parent">
    <div class="new" id="t1">
        <ul id="tab" class="new">
            <li class="current">查封列表</li>
            <li>玩家查询</li>
        </ul>
    </div>
    <div class="new" id="t2">

        <form id="form1">
            <span id="beginSpan">时间选择:</span><input type="text" id="selectTime" name="beginTime"onclick="WdatePicker();">&nbsp;&nbsp;
            <input type="button" name="查看" id="startLook" value="查看" onclick="sendAjaxRequet();"/>
        </form>
        <form id="form2">
            <span>查询条件:</span><input type="text"  id="selectName" name="selectName2" placeholder="玩家昵称或id"/>
            <input type="button" name="查看" id="startLook2" value="查看" onclick="sendAjaxRequet();"/>
        </form>
    </div>

</div>


<div class="table-wrap" style="margin-top: 20px" id="son1">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">玩家昵称</span>
                    </th>
                    <th>
                        <span class="tab-link">玩家ID</span>
                    </th>
                    <th>
                        <span class="tab-link">执行人</span>
                    </th>
                    <th>
                        <span class="tab-link">查封时间</span>
                    </th>
                    <th>
                        <span class="tab-link">状态</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent1">

            </tbody>
        </table>
    </div>

</div>

<div class="table-wrap" style="margin-top: 20px;display: none;" id="son2">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">玩家昵称</span>
                    </th>
                    <th>
                        <span class="tab-link">玩家ID</span>
                    </th>
                    <th>
                        <span class="tab-link">执行人</span>
                    </th>
                    <th>
                        <span class="tab-link">操作时间</span>
                    </th>
                    <th>
                        <span class="tab-link">状态</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent2">

            </tbody>
        </table>
    </div>

</div>


</body>
</html>

