body {

    border: 1px solid black;
    height: 1800px;
    width: auto;
    text-align: center;

}


/*  */
#parent {
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;

}


/*  设置ul的样式 */
#tab {


    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    margin: 0px;
    text-align: center;

}

/*  就是要选择的li 的相关信息 */
#tab li {
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center;
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}


#parent #form1 {
    display: inline;
    padding-left: 200px;
    margin: 0px;
    width: 100px;
    text-align: center;

}

#parent #form2 {
    margin-top: 50px;
    display: none;
    padding-left: 500px;
    margin: 0px;


}

/*  设置form1的选择时间的文本框的宽度 */
#form1 #beginTime, #endTime {
    width: 80px;

}

/* 设置form2的选择时间的文本框的宽度 */
#form2 #endTime2,#beginTime2 {
    width: 60px;
}

/* 设置统计图说明的样式*/
#tagMark{
    width: auto;
    text-align: center;
    height: 20px;

}

/*选中li的时候的css样式*/
#tab li.current {
    color: #000;
    background: #ccc;
}


