<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        function addDays(startDate,step){

            startDate = new Date(startDate);
            startDate = +startDate + 1000*60*60*24*step;
            startDate = new Date(startDate);

            var monthIndex=startDate.getMonth()+1
            if (monthIndex<10){
                monthIndex="0"+monthIndex

            }

            var dayIndex=startDate.getDate();
            if(dayIndex<10){
                dayIndex="0"+dayIndex
            }


            var nextStartDate = startDate.getFullYear()+"-"+monthIndex+"-"+dayIndex;

            alert(nextStartDate)
            return nextStartDate;


        }



        function calDate(){
            var date=new Date();

            var year=date.getFullYear()
            var month=date.getMonth()+1


            var day=date.getDate()
            alert(year+"-"+month+"-"+day)
        }
    </script>
    <script type="text/javascript">
        /*
         *对一个月份："2017-01"
         * 进行加几个月或者减去几个月
         * 返回的是"2017-03",也就是加上或者减去的日期
         *
         * */

        function MonthOperate(month,step){


            var date=new Date(month);
            var yearBefore=date.getFullYear()
            var monthBefore=date.getMonth()+1;

            if(step>0){
                var tmp=parseInt(step)+monthBefore;
                if(tmp>12){ //跨年了
                    var month=tmp-12;
                    var year=yearBefore+1;
                }else{
                    var year=yearBefore;
                    month=tmp;
                }

                if (month<10){
                    month="0"+month
                }


                return (year+"-"+month);
            }

            var tmp=monthBefore+step;
            if(tmp<0){ //跨年了
                var month=12+tmp;
                var year=yearBefore-1;
            }else{
                var year=yearBefore;
                month=tmp;
            }

            if (month<10){
                month="0"+month
            }


            return (year+"-"+month);

        }
    </script>

</head>
<body>
<input type="button" value="日期计算" onclick="addDays('2017-07-29',-1);"/>
<input type="button" value="日期计算" onclick="calDate();"/>
<input type="button" value="月份计算" onclick="MonthOperate('2017-09',-10);"/>
</body>
</html>