<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        /**
         * 判断年份是否为润年
         *
         * @param {Number} year
         */
        function isLeapYear(year) {
            return (year % 400 == 0) || (year % 4 == 0 && year % 100 != 0);
        }
        /**
         * 获取某一年份的某一月份的天数
         *
         * @param {Number} year
         * @param {Number} month
         */
        function getMonthDays(year, month) {
            return [31, null, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month] || (isLeapYear(year) ? 29 : 28);
        }
        26
        /**
         * 获取某年的某天是第几周
         * @param {Number} y
         * @param {Number} m
         * @param {Number} d
         * @returns {Number}
         */
        function getWeekNumber(date) {

            var res = convertDateFromString(date)

            var y = res[0]
            var m = res[1]
            var d = res[2]
            var now = new Date(y, m - 1, d),
                    year = now.getFullYear(),
                    month = now.getMonth(),
                    days = now.getDate();
            //那一天是那一年中的第多少天
            for (var i = 0; i < month; i++) {
                days += getMonthDays(year, i);
            }

            //那一年第一天是星期几
            var yearFirstDay = new Date(year, 0, 1).getDay() || 7;

            var week = null;
            if (yearFirstDay == 1) {
                week = Math.ceil(days / yearFirstDay);
            } else {
                days -= (7 - yearFirstDay + 1);
                week = Math.ceil(days / 7) + 1;
            }
            var result=week-1
            if(result==0){
                result=1
            }
            alert(result)
            return result;
        }
        /*
         * 将时间格式的字符串转换成指定格式的
         * dateString:形式是"2017-07-01"
         * 返回值:包含年月日的数组
         * 0:year
         * 1:monthIndex
         * 2:dayIndex
         * */
        function convertDateFromString(dateString) {
            if (dateString) {
                var date = new Date(dateString.replace(/-/, "/"))

                var monthIndex = date.getMonth() + 1
                var dayIndex = date.getDate()
                res[0] = date.getFullYear();
                res[1] = monthIndex;
                res[2] = dayIndex;


                return res;
            }
        }
    </script>

</head>
<body>
<input type="button" value="判断周索引" onclick="getWeekNumber(2017,1,15);"/>
</body>
</html>