<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="static/css/user_manager/form.css"/>
    <script src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/user_manager/menu_manager.js"></script>
    <!--用户留存的js -->
    <link rel="stylesheet" type="text/css" href="static/css/user_manager/menu_manager.css"/>
    <!--用户留存的css -->
</head>
<body id="parentBody">


<div id="parent">

    <ul id="tab" class="new">
        <li class="current">添加菜单</li>
        <li>删除菜单</li>
        <li>移动菜单</li>
        <li>查看菜单信息</li>
    </ul>

</div>
<div id="table-wrap" style="margin-top: 40px">
    <div id="son1">
        <span class="spanDemo">是否创建父菜单</span><input type="checkbox" value="0" name="action" onclick="changeElementStatus();"/><br/>
        <span class="spanDemo">父级别菜单:</span><input type="text" disabled name="userName" placeholder="新创建父菜单的名称" id="parentMenu" class="inputDemo"/><br/>
        <span class="spanDemo" id="userTypeSpan">父级别菜单:</span>
        <select id="userType">
        </select><br/>
        <span class="spanDemo">子菜单名称:</span><input type="text" name="userName" id="userName" class="inputDemo"/><br/>
        <span class="spanDemo">子菜单路径:</span><input type="text" name="password" id="password" class="inputDemo"/><span id="cSource_span"></span><br/>

        <input type="button" value="提交" id="addBtn" onclick="add_menu();"/>
    </div>

    <div id="son2" >

        <span class="spanDemo">是否删除父菜单</span><input type="checkbox" value="0" id="action2" onclick="delParentMenu();"/><br/>
        <span class="spanDemo" id="delParentSpan">父级菜单:</span>
        <select id="delParentType" onchange="changeSubMenu();">
        </select><br/>
        <span class="spanDemo" id="delSonSpan">子级菜单:</span>
        <select id="delSonType">
        </select><br/>
        <input type="button" value="确定提交" id="delBtn" onclick="del_menu();"/>
    </div>
    <div id="son3">

        <span class="spanDemo" id="modParentSpan">目的地的父级菜单:</span>
        <select id="modParentType" onchange="changeSubMenu();">
        </select><br/>
        <span class="spanDemo" id="modSonSpan">要移动的子级菜单:</span>
        <select id="modSonType">
        </select><br/>
        <input type="button" value="提交" id="modBtn" onclick="modify_menu();" />
    </div>
    <div id="son4">
        <div class="table-head">
            <div class="table-head-wrap">
                <table class="grid">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <span class="tab-link">主菜单</span>
                        </th>
                        <th>
                            <span class="tab-link">子菜单</span>
                        </th><th>
                        <span class="tab-link">添加时间</span>
                    </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="table-content">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody id="trParent">
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>

