<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit">
    <title>游戏后台管理系统</title>
    <link rel="stylesheet" href="../static/css/pintuer.css">
    <link rel="stylesheet" href="../static/css/admin.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/baseValue.js"></script>
    <script src="../static/js/cookie_util.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>

    <script type="text/javascript">

        $(function () {

            var user = getCookie("user");
            var actionIds = getCookie("roleId");

            console.log("actionIds==="+actionIds);

            // 获取对应的actionList列表
            $.ajax({
                url: "/toActionList",
                type: "post",
                dataType: "json",
                success: function (result) {

                    if (result.State == 0) {//登录成功


                        var actionList = result.ActionList


                        for(var i=0;i<actionList.length;i++){
                            if(actionIds.indexOf(actionList[i].Id)!=-1){


                                if(actionList[i].Pid==0){

                                    var h2Node = "<h2><span class='icon-user' ></span>" + actionList[i].Title + "</h2>"

                                    $h2 = $(h2Node)
                                    $('#topParent').append($h2)

                                    var date=new Date();
                                    uid='#'+(date.getTime());
                                    var ulNode="<ul id='"+uid+"'></ul>";

                                    $ul=$(ulNode)
                                    $('#topParent').append($ul)
                                }else  {
                                    if(actionList[i].Href=='#' ||actionList[i].Href=='/' ){

                                        var li="<li><a href='"+ actionList[i].Href +"' ><span class='icon-caret-right'></span>"+ actionList[i].Title+"</a></li>";

                                    }else{
                                        var li="<li><a href='"+ actionList[i].Href +"' target='right'><span class='icon-caret-right'></span>"+ actionList[i].Title+"</a></li>";

                                    }


                                    $li=$(li)
                                    $ul.append($li)

                                }
                            }


                        }


                    }

                }
        });

            var userId = getCookie("userId");
            $("#user_name").html(user);
            function p(s) {
                return s < 10 ? '0' + s : s;
            }


            setInterval(function () {
                var myDate = new Date();
                //获取当前年
                var year = myDate.getFullYear();
                //获取当前月
                var month = myDate.getMonth() + 1;
                //获取当前日
                var date = myDate.getDate();
                var h = myDate.getHours();       //获取当前小时数(0-23)
                var m = myDate.getMinutes();     //获取当前分钟数(0-59)
                var s = myDate.getSeconds();
                var now = year + '-' + p(month) + "-" + p(date) + " " + p(h) + ':' + p(m) + ":" + p(s);
                $("#time").text(now);
            }, 1000);
        });
    </script>
    <script type="text/javascript">

            $(function() {
                $('body').delegate('.leftnav h2','click',function(){
                    $(this).next().slideToggle(200);
                    $(this).toggleClass("on");
                })
                $(".leftnav h2").click(function () {

                    $(this).next().slideToggle(200);
                    $(this).toggleClass("on");

                })
                $(".leftnav ul li a").click(function () {
                    $("#a_leader_txt").text($(this).text());
                    $(".leftnav ul li a").removeClass("on");
                    $(this).addClass("on");

                })
            })


    </script>
</head>
<body style="background-color:#f2f9fd;overflow-y: auto">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top" style="float:left; margin-left:40px;">
        <h1><img src="../static/img/y.jpg" class="radius-circle rotate-hover" height="50" alt=""/><span
                id="user_name"></span></h1>
    </div>
    <div class="head-l" style="float:right; margin-right:20px;"> &nbsp;&nbsp;<a class="button button-little bg-red"
                                                                                href="/logout"><span
            class="icon-power-off"></span> 退出登录</a></div>
    <div class="head-l" style="float:right; margin-right:20px;height:40px;line-height:40px;">
        <h3 id="time"></h3>
    </div>
</div>
<div class="leftnav"  id="topParent">
    <div class="leftnav-title" ><strong><span class="icon-list"></span>菜单列表</strong></div>
    <!--<h2><span class="icon-user"></span>平台数据</h2>-->

</div>

<ul class="bread">
    <li><a href="info.html" target="right" class="icon-home"> 首页</a></li>
    <li><a href="##" id="a_leader_txt">网站信息</a></li>
</ul>
<div class="admin">
    <iframe scrolling="auto" rameborder="0" src="/toContent" name="right" width="100%" height="100%"></iframe>
</div>
<div style="text-align:center;">
    <p>来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
</div>
</body>
</html>