<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        function testIp() {
            var obj = "hello"
            var checkIpStr = /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/;
            var reg = obj.match(checkIpStr);
            if (reg == null) {
                alert("IP地址不合法！");
            }
            else {
                alert("IP地址合法！");
            }

        }
    </script>

</head>
<body>
<input type="button" value="检查IP" onclick="testIp();"/>
</body>
</html>