<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>javascript里面的数组，json对象，动态添加，修改，删除示例</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var a = JSON.parse("{\"title\":\"\",\"data\":[]}");
        var b = JSON.parse("{\"id\":\"2\"}");
        var c = JSON.parse("{\"id\":\"3\"}");
        var d = JSON.parse("{\"id\":\"4\"}");
        var e = JSON.parse("{\"id\":\"5\"}");
        var f = JSON.parse("{\"id\":\"6\"}");
        function myObjectPush() {
            debugger;
            /*
             javascript里面的数组，json对象，动态添加，修改，删除示例
             只要适合Javascript的方法都是可以用在JSON对象的数组中的！所以还有另外的方法splice( )进行crud操作！
             */

//增加属性
            $(a).attr("id", "1");
//增加子对象
            a.data.push(b); //数组最后加一条记录
            a.data.push(c);
            a.data.push(d);
            a.data.unshift(d);//数组最前面加一条记录

//修改子对象及属性
            a.title = "这是json名字";

//删除子对象
//json的删除有很多种，直接用过 delete json对象方式:
            delete a.data[1];

            a.data.pop(); //删除最后一项
            a.data.shift(); //删除第一项
            a.data.splice(0, 1); //删除指定子对象，参数：开始位置,删除个数

//替换不删除
            a.data.splice(1, 0, e, f);//开始位置,删除个数,插入对象
//替换并删除
            a.data.splice(0, 1, e, f);//开始位置,删除个数,插入对象
        }
    </script>
</head>
<body onload="myObjectPush()">
</body>
</html>