body, h3, table, th {
    text-align: center;
}

table {

    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

tr, th {
    border: solid 1px black;
    widows: 50%;
}

td, thead tr {
    border: 1px solid black;
    color: red;
    font-style: normal;
    font-size: larger;
    text-align: center;
}