<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        function getWeekIndex() {
            var dateStr = "2017-07-26"
            var date=convertDateFromString(dateStr)
            alert(date)

        }

        function convertDateFromString(dateString) {
            if (dateString) {
                var date = new Date(dateString.replace(/-/, "/"))


//                return vdate;
                return date
            }
        }
    </script>
</head>
<body>
<input type="button" value="判断周索引" onclick="getWeekIndex();"/>
</body>
</html>