<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript">
        function getCurDateString(){
            var data=new Date();
            var  tmpMonth=data.getMonth()+1
            var weekIndex;
            var dayIndex;
            if (tmpMonth<10){
                weekIndex="0"+tmpMonth;
            }else{
                weekIndex=tmpMonth;
            }

            var tmpDay=data.getDate();
            var dayIndex;

            if(tmpDay<10){
                dayIndex="0"+tmpDay;
            }else{
                dayIndex=tmpDay;
            }

            var output= data.getFullYear()+"-"+weekIndex+"-"+dayIndex
            return output
        }

        //获取当前日期的年和月
        function getCurMonthString(){
            var data=new Date();
            var  tmpMonth=data.getMonth()+1
            var weekIndex;
            var dayIndex;
            if (tmpMonth<10){
                weekIndex="0"+tmpMonth;
            }else{
                weekIndex=tmpMonth;
            }

            var tmpDay=data.getDate();


            var output= data.getFullYear()+"-"+weekIndex
            return output
        }



        //判断某一天是否是系统当前时间
        function checkIsCuruentDay(msg){
            var msg="2017-07-27"
                var data=getCurDateString();
            alert(data==msg)

        }

        //判断月份是否是超过当前月
        function checkIsOutofMonth(beginMonth,endMonth){
            var beginMonth="2017-05";
            var endMonth="2017-09";
            var beginTime=new Date(beginMonth).getTime();
            var endTime=new Date(endMonth).getTime();

            var tarTime=new Date(getCurMonthString()).getTime();

            if(beginTime-tarTime>0  || (beginTime-tarTime<0 && endTime-tarTime>0)){
                alert("结束月份不对或开始日期不对")
                return
            }


        }
    </script>

</head>
<body>
<input type="button" value="判断周索引" onclick="checkIsOutofMonth();"/>
</body>
</html>