body {

    border: 1px solid black;
    height: 1800px;
    width: auto;
    text-align: center;
    font-size: 18px;

}


/*  */
#parent {
    width: 100%;

    margin-top: 20px;

    padding: 0;
    text-align: center;
    font-size: 18px;

}
#parent #form1 {
    display: inline;
    width: 100%;
    text-align: center;
    font-size: 18px;

}

/*  设置ul的样式 */
#tab {


    width: 300px;
    padding-left: 70px;
    padding-top: 20px;
    margin: 0px;
    text-align: center;
    font-size: 18px;

}

/*  就是要选择的li 的相关信息 */
#tab li {
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center;
    list-style: none;
    padding-left: 20px;
    margin: 0px;
    font-size: 18px;
}

#startLook{
    margin-right: 200px;
    font-size: 16px;
}


