body {

    border: 1px solid black;
    height: 1800px;
    width: auto;


}


/*  */
#parent {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;

}

#parentBody{

   margin-left: 50px;
}
/*  设置ul的样式 */
#tab {


    width: 100%;
    padding-left: 70px;
    padding-top: 20px;
    margin: 0px;
    text-align: center;

}

/*  就是要选择的li 的相关信息 */
#tab li {
    display: inline-block;
    float: left;
    cursor: pointer;
    text-align: center;
    list-style: none;
    /*padding-left: 20px;*/
    margin: 0px;
    width: 25%;
}

/*选中li的时候的css样式*/
#tab li.current {
    color: #000;
    background: #ccc;
}

#table-wrap{
    height: 400px;
    width: 100%;


}
#son1{

    height: 500px;
    width: 100%;
    line-height: 50px;
    margin-left: 120px;

}

#son2{
    display: none;

    height: 500px;
    width: 100%;
    line-height: 50px;
    margin-left: 120px;
}

#son3{
    display: none;

    height: 500px;
    width: 100%;
    line-height: 50px;
    margin-left: 120px;
}
#son4{
    display: none;

    height: 500px;
    width: 100%;
    line-height: 50px;

}
input.inputDemo{
    width: 300px;
    height: 30px;
    margin-left: 20px;
}


span.spanDemo{

    width: auto;
    height: 50px;

}

#addBtn{
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-left: 140px;
    margin-top: 15px;
}

#delBtn{
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-left: 140px;
    margin-top: 15px;
}
#modBtn{
    display: inline-block;
    text-align: center;
    width: 80px;
    margin-left: 140px;
    margin-top: 15px;
}
#userType ,#userType2{
    display: inline-block;
    width: 300px;
    height: 30px;
}


