<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="static/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 与本页面相关的js文件 -->
    <script type="text/javascript" src="static/js/dateOperarion.js"></script>    <!--日期操作的js -->

    <!-- 与本页面相关的css文件 -->
    <link rel="stylesheet" type="text/css" href="static/css/user_analysis/form.css"/>
    <script src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/DatePicker.js"></script>
    <!-- 选择年月的挂件 -->
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <!-- 添加柱状图的js -->
    <script type="text/javascript" src="static/js/FileSaver.js"></script>
    <!-- 文件保存的js -->
    <script type="text/javascript" src="static/js/user_analysis/user_newRegister.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/user_analysis/user_newRegister.css"/>

</head>
<body id="parentBody">
<div id="parent">
    <div class="new" id="t1">
        <ul id="tab" class="new">
            <li class="current">新增用户</li>
            <li>活跃用户</li>
            <li>历史用户</li>
        </ul>
    </div>
    <div class="new" id="t3">
        <form id="form1">
            <span id="beginSpan">开始时间:</span><input type="text" id="beginTime" name="beginTime" onclick="WdatePicker()" readonly="readonly" style="width: 80px">&nbsp;&nbsp;
            <span id="endSpan">结束时间:</span><input type="text" id="endTime" name="endTime" onclick="WdatePicker()" readonly="readonly">&nbsp;&nbsp;

            <input type="radio" name="date" class="formDate" value="0" onclick="updateDateOption();"checked/>日
            <input type="radio" name="date" class="formDate" value="1"  onclick="updateDateOption();" />月&nbsp;&nbsp;&nbsp;
            <input type="button" name="查看" id="startLook" value="查看" onclick="sendAjaxRequet();" />
            <input type="button" value="下载" onclick="download(); " id="downloadId" disabled/>
        </form>
    </div>
</div>
<!-- 新增用户 -->
<div class="table-wrap" style="margin-top: 20px">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">日期</span>
                    </th>
                    <th>
                        <span class="tab-link">用户数量</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent">

            </tbody>
        </table>
    </div>

</div>
<!-- 这里添加一个div用来存放折线图 -->
<!-- 然后在创建折线图的过程中,又重新添加了一个节点,用来添加表格的备注信息 -->

</body>
</html>

