<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="static/js/My97DatePicker/WdatePicker.js"></script> <!-- 年月日的日历挂件 -->
    <link rel="stylesheet" type="text/css" href="static/css/user_analysis/user_loss.css"/> <!--用户留存的css -->
    <link rel="stylesheet" type="text/css" href="static/css/user_analysis/form.css"/>
    <script src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/DatePicker.js"></script> <!-- 年月的日历挂件 -->
    <script type="text/javascript" src="static/js/echarts.js"></script>    <!-- 添加柱状图的js -->
    <script type="text/javascript" src="static/js/FileSaver.js"></script>    <!-- 保存文件的js -->
    <script type="text/javascript" src="static/js/dateOperarion.js"></script><!-- 日期操作-->
    <script type="text/javascript" src="static/js/user_analysis/user_loss.js"></script>    <!--用户留存的js -->
</head>
<body id="parentBody">


<div id="parent">
    <div class="new" id="t1">
        <ul id="tab" class="new">
            <li class="current">流失率</li>
            <li>流失账号</li>
        </ul>
    </div>
    <div class="new" id="t2">

        <form id="form1">
            <span id="beginSpan">开始时间:</span><input type="text" id="beginTime" name="beginTime" onclick="WdatePicker();">&nbsp;&nbsp;
           <span id="endSpan"> 结束时间:</span><input type="text" id="endTime" name="endTime" onclick="WdatePicker();" >&nbsp;&nbsp;
            <input type="radio" name="date" id="insertId1" class="formDate" value="0" onclick="updateDateOption();" checked/>周
            <input type="radio" name="date" class="formDate" value="1"  onclick="updateDateOption();" />月&nbsp;&nbsp;&nbsp;
            <select style="display: none; " id="procId" onchange="showSingleInfo();"  disabled>
                <option value="请选择省份" selected>请选择省份</option>
                <option value="北京市" selected>北京市</option>
                <option value="浙江省">浙江省</option>
                <option value="天津市">天津市</option>
                <option value="安徽省">安徽省</option>
                <option value="上海市">上海市</option>
                <option value="福建省">福建省</option>
                <option value="重庆市">重庆市</option>
                <option value="江西省">江西省</option>
                <option value="山东省">山东省</option>
                <option value="河南省">河南省</option>
                <option value="湖北省">湖北省</option>
                <option value="湖南省">湖南省</option>
                <option value="广东省">广东省</option>
                <option value="海南省">海南省</option>
                <option value="山西省">山西省</option>
                <option value="青海省">青海省</option>
                <option value="江苏省">江苏省</option>
                <option value="辽宁省">辽宁省</option>
                <option value="吉林省">吉林省</option>
                <option value="台湾省">台湾省</option>
                <option value="河北省">河北省</option>
                <option value="贵州省">贵州省</option>
                <option value="四川省">四川省</option>
                <option value="云南省">云南省</option>
                <option value="陕西省">陕西省</option>
                <option value="甘肃省">甘肃省</option>
                <option value="黑龙江省">黑龙江省</option>
                <option value="香港特别行政区">香港特别行政区</option>
                <option value="澳门特别行政区">澳门特别行政区</option>
                <option value="广西壮族自治区">广西壮族自治区</option>
                <option value="宁夏回族自治区">宁夏回族自治区</option>
                <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                <option value="内蒙古自治区">内蒙古自治区</option>
                <option value="西藏自治区">西藏自治区</option>
            </select>
            </select>
            <input type="button" name="查看" id="startLook" value="查看" onclick="sendAjaxRequet();" />
            <input type="button" value="下载" onclick="download(); " id="downloadId" disabled/>
        </form>
    </div>

</div>



<div class="table-wrap" style="margin-top: 20px" id="son1" >
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">日期</span>
                    </th>
                    <th>
                        <span class="tab-link">流失用户</span>
                    </th>
                    <th>
                        <span class="tab-link">流失率</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent1">

            </tbody>
        </table>
    </div>

</div>

<div class="table-wrap" style="margin-top: 20px;display: none;" id="son2">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <!--<col>-->
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">日期</span>
                    </th>
                    <th>
                        <span class="tab-link">账号</span>
                    </th>
                    <th>
                        <span class="tab-link">UID</span>
                    </th>
                    <!--<th>-->
                        <!--<span class="tab-link">手机号</span>-->
                    <!--</th>-->
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
                <col>
                <!--<col>-->
            </colgroup>
            <tbody id="trParent2">

            </tbody>
        </table>
    </div>

</div>
<!-- 这里添加一个div用来存放折线图 -->
<!-- 然后在创建折线图的过程中,又重新添加了一个节点,用来添加表格的备注信息 -->

</body>
</html>

