<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>IE导出CSV</title>
    <script src="FileSaver.js"></script>
    <script>
        window.onload = function(){
            function exportCsv2(){
                //Excel打开后中文乱码添加如下字符串解决
                var exportContent = "\uFEFF";
                var blob = new Blob([exportContent+"标题,标题,标题\n1,2,3\n4,5,6"],{type: "text/plain;charset=utf-8"});
                saveAs(blob, "hello world.csv");
            }
            document.getElementById("J_export").onclick = function(){
                exportCsv2();
            }
        }
    </script>
</head>
<body>
<a href="javascript:;" id="J_export">导出</a>
</body>
</html>