<html>
<head>
    <meta charset="utf-8"/>


    <link rel="stylesheet" type="text/css" href="../../../static/css/kf_operation/form.css"/>
    <script src="../../../static/js/jquery.js"></script>


    <link rel="stylesheet" type="text/css" href="../../../static/css/kf_operation/grantPower.css"/>
    <script type="text/javascript">
        function getTimeToMinuteStr() {
            var data = new Date();
            var tmpMonth = data.getMonth() + 1
            var weekIndex;
            var dayIndex;
            if (tmpMonth < 10) {
                weekIndex = "0" + tmpMonth;
            } else {
                weekIndex = tmpMonth;
            }

            var tmpDay = data.getDate();
            var dayIndex;

            if (tmpDay < 10) {
                dayIndex = "0" + tmpDay;
            } else {
                dayIndex = tmpDay;
            }

            var hourIndex;

            var tmpHour=data.getHours();
            if(tmpHour<10){
                hourIndex="0"+tmpHour;
            }else{
                hourIndex=tmpHour;
            }

            var minuteIndex;

            var minuteTmp=data.getMinutes();
            if(minuteTmp<10){
                minuteIndex="0"+minuteTmp;
            }else{
                minuteIndex=minuteTmp;
            }



            var output = data.getFullYear() + "-" + weekIndex + "-" + dayIndex + " " + hourIndex + ":" + minuteIndex


            return output;
        }

        function getSysTime() {
//            var date = getCurDateString();
            var date = new Date();
            var hour=date.getHours()
            var minute=date.getMinutes()

            alert(hour+" "+minute);
        }
    </script>

</head>
<body id="parentBody">


<form id="form1">

    <input type="button" name="查看" id="startLook" value="查看" onclick="getCurDateString();"/>
</form>


</body>
</html>

