body {
    margin: 0;
    padding: 0;

}

/* 对最大的div进行设置  */
#parent {

    width: 100%;
    height: 700px;

}

/* 对第一个儿子进行设置 */
#div1 {

    background-color: gray;
    height: 100px;
    width: 100%;

}

/* 对第二个孩子中的两个小的div进行测试  */
#son {

    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

#son #div3 {
    height: auto;
    float: left;

    background-color: blue;
    height: 600px;

    width: 40%;

}
#div3 h3{
    padding: 10px 0 10px 22px;
    transition: all .1s ease-in-out;
    display: block;

}


#div3 ul {
    list-style: none;
    padding:  0;
    opacity: 1;

}

#div3 ul li {
    list-style: none;
}

#son #div4 {
    height: auto;
    float: left;
    background-color: red;
    height: 600px;

    width: 60%;
}

