<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="static/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 年月日的日历挂件 -->
    <script type="text/javascript" src="static/js/dateOperarion.js"></script>
    <!-- 日期操作-->
    <script src="../static/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/game_analysis/aaf.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/game_analysis/form.css"/>
    <!--用户留存的css -->
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <!-- 添加柱状图的js -->
    <script type="text/javascript" src="static/js/FileSaver.js"></script>
    <!-- 保存文件的js -->

    <script type="text/javascript" src="static/js/game_analysis/aaf.js"></script>
    <!--用户留存的js -->
</head>
<body id="parentBody">


<div id="parent">
    <div class="new" id="t1">
        <ul id="tab" class="new">
            <li class="current">AAF数据分析</li>
        </ul>
    </div>
    <div class="new" id="t2">


        <form id="form1">
            <span id="beginSpan">开始时间:</span> <input type="text" id="beginTime" name="beginTime" onclick=" WdatePicker();">&nbsp;&nbsp;
            <input type="radio" name="date" class="formDate" value="0"  checked/>日
            <input type="radio" name="date" class="formDate" value="1" />周
            <input type="radio" name="date" class="formDate" value="2" />月&nbsp;&nbsp;&nbsp;
            <input type="button" name="查看" id="startLook" value="查看" onclick="sendAjaxRequest();"/>
        </form>
    </div>

</div>

<div class="table-wrap" style="margin-top: 20px" id="son1">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">赛场等级</span>
                    </th>
                    <th>
                        <span class="tab-link">比赛场数</span>
                    </th>
                    <th>
                        <span class="tab-link">机器人参与盘数</span>
                    </th>
                    <th>
                        <span class="tab-link">2机器人参与盘数</span>
                    </th>
                    <th>
                        <span class="tab-link">赛前摇奖金额</span>
                    </th>
                    <th>
                        <span class="tab-link">抽水消耗</span>
                    </th>
                    <th>
                        <span class="tab-link">机器人输赢</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent">

            </tbody>
        </table>
    </div>

</div>

</div>

</body>
</html>

