<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="static/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 年月日的日历挂件 -->

    <link rel="stylesheet" type="text/css" href="static/css/kf_operation/form.css"/>
    <script src="static/js/jquery.js"></script>


    <script type="text/javascript" src="static/js/dateOperarion.js"></script>
    <!-- 日期操作-->
    <script type="text/javascript" src="static/js/kf_operation/findIps.js"></script>
    <!--用户留存的js -->
    <link rel="stylesheet" type="text/css" href="static/css/kf_operation/findIps.css"/>
    <!--用户留存的css -->
</head>
<body id="parentBody">


<div id="parent">
    <div class="new" id="t1">
        <ul id="tab" class="new">
            <li class="current">同IP登录</li>
            <li>IP查询</li>
        </ul>
    </div>
    <div class="new" id="t2">

        <form id="form1">
            <span id="beginSpan">时间选择:</span><input type="text" id="selectTime" name="beginTime"onclick="WdatePicker();">&nbsp;&nbsp;
            <input type="button" name="查看" id="startLook" value="查看" onclick="sendAjaxRequet();"/>
        </form>
        <form id="form2">
            <span id="beginSpan2">时间选择:</span><input type="text" id="selectTime2" name="beginTime"onclick="WdatePicker();">&nbsp;&nbsp;
            <span>查询条件</span><input type="text"  id="selectName" name="selectName2" placeholder="请输入玩家的ip"/>
            <input type="button" name="查看" id="startLook2" value="查看" onclick="sendAjaxRequet();"/>
        </form>
    </div>

</div>


<div class="table-wrap" style="margin-top: 20px" id="son1">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">IP地址</span>
                    </th>
                    <th>
                        <span class="tab-link">比赛盘数</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent1">

            </tbody>
        </table>
    </div>

</div>

<div class="table-wrap" style="margin-top: 20px;display: none;" id="son2">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">玩家昵称</span>
                    </th>
                    <th>
                        <span class="tab-link">玩家ID</span>
                    </th>
                    <th>
                        <span class="tab-link">比赛盘数</span>
                    </th>
                    <th>
                        <span class="tab-link">金币数量</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent2">

            </tbody>
        </table>
    </div>

</div>
<!-- 这里添加一个div用来存放折线图 -->
<!-- 然后在创建折线图的过程中,又重新添加了一个节点,用来添加表格的备注信息 -->

</body>
</html>

