<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="static/js/My97DatePicker/WdatePicker.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/kf_operation/form.css"/>
    <script src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/dateOperarion.js"></script>
    <script type="text/javascript" src="static/js/kf_operation/worker.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/kf_operation/worker.css"/>
</head>
<body id="parentBody">


<div id="parent">
    <div class="new" id="t1">
        <ul id="tab" class="new">
            <li class="current">客服操作</li>

        </ul>
    </div>
    <div class="new" id="t2">

        <form id="form1">
            <span id="beginSpan">时间选择:</span><input type="text" id="selectTime" name="beginTime"onclick="WdatePicker();">&nbsp;&nbsp;
            <input type="button" name="查看" id="startLook" value="查看" onclick="sendAjaxRequet();"/>
        </form>

    </div>

</div>


<div class="table-wrap" style="margin-top: 20px" id="son1">
    <div class="table-head">
        <div class="table-head-wrap">
            <table class="grid">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <span class="tab-link">玩家昵称</span>
                    </th>
                    <th>
                        <span class="tab-link">玩家ID</span>
                    </th>
                    <th>
                        <span class="tab-link">执行人</span>
                    </th>
                    <th>
                        <span class="tab-link">执行时间</span>
                    </th>
                    <th>
                        <span class="tab-link">具体操作</span>
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="table-content">
        <table class="grid">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <tbody id="trParent">

            </tbody>
        </table>
    </div>

</div>


</div>


</body>
</html>

