<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="before/jquery.js"></script>
    <script type="text/javascript">
        function getWeekIndex() {
            var date = new Date();
            alert(date.getTime());
        }

        function addFrom() {
            var isChecked = true;
            var parent = document.getElementById("trParent")
            var tr1 = document.createElement("tr")

            var td3 = document.createElement("td")
            var inputNode = document.createElement("input");
            inputNode.setAttribute("type", "checkbox");
            inputNode.setAttribute("name", "action");
//            inputNode.setAttribute("checked", isChecked);
            inputNode.setAttribute("id", 123456);
            td3.appendChild(inputNode)
            tr1.appendChild(td3)
            parent.appendChild(tr1)
            alert("ok");
        }

        //获取选中的复选框的值
        function getCheckedInfo() {
            var obj = document.getElementsByName('aa'); //选择所有name="'aa'"的对象，返回数组
            //取到对象数组后，我们来循环检测它是不是被选中
            var s = '';
            for (var i = 0; i < obj.length; i++) {
                if (obj[i].checked) s += obj[i].value + ','; //如果选中，将value添加到变量s中
            }
            //那么现在来检测s的值就知道选中的复选框的值了
            alert(s == '' ? '你还没有选择任何内容！' : s);


        }
        //清空选中的复选框
        function clearChecked(){

            var one=document.getElementsByName('aa');//获取到复选框的名称
            for(var j=0;j<one.length;j++){
                one[j].checked=false;
            }
        }

        //获取键值对信息
        function keyValue(){
//            var a={}
//            a={"name":"tom","age":"18","sex":"man"}
//
//           for(var tag in a){
//               alert(tag)
//           }

            var b={0:"tom",1:"jack"}
            for(var key in b){
                alert(b[key])
            }

        }


        function getCheckBoxId(){
            var one=document.getElementsByName("aa")
            for(var i=0;i<one.length;i++){
                if(one[i].value=="apple"){
                    one[i].checked=true;
                    alert("ok");

                }
            }
        }

    </script>
</head>
<body>
<input type="button" value="获取选中的复选框的值" onclick="getCheckedInfo();"/>
<input type="button" value="清空选中的复选框" onclick="clearChecked();"/>
<input type="button" value="表示键值对" onclick="keyValue();"/>
<input type="button" value="选中某一个复选框" onclick="getCheckBoxId();"/>
<table>
    <thead>
    <th>性别</th>
    </thead>
    <tbody id="trParent">
    <td>
        <input type="checkbox"  name="aa" value="apple">apple
        <input type="checkbox" checked="checked" name="aa"  value="huawei">华为
        <input type="checkbox" checked="checked" name="aa" value="sanxing">三星
    </td>
    </tbody>
</table>
</body>

</html>